<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" id="name" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input type="text" name="account" id="account" lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <select name="sex" id="sex" lay-verify="required">
                <option value=""></option>
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
        <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" lay-filter="formDemo" id="search">查询</button>
        <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal">重置</button>
    </div>
</form>

<table class="layui-hide" id="demo" lay-filter="useruv"></table>
<div id="btn1" style="display:none;">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="edit"> &#xe642;编辑</i>
    </button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="del">&#xe640;删除</i>
    </button>
</div>
<div id="btn2" style="display:none;">
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchDel">&#xe640;&nbsp批量删除</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchAdd">&#xe624;&nbsp新增</i>
    </button>
</div>

<script type="text/html" id="switchTpl">
    <input type="checkbox" value="{{d.id}}" name="status" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 0 ? 'checked' : '' }}>
    <input type="hidden" id="id" value="${d.id }" />
</script>
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script>
    layui.use(['table','jquery','layer','form'], function() {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        // form.on('submit(formDemo)', function (data) {
        //     // console.log(data.elem); //被执行事件的元素DOM对象，一般为button对象
        //     // console.log(data.form); //被执行提交的form对象，一般在存在form标签时才会返回
        //     console.log(data.field);//当前容器的全部表单字段，名值对形式：{name: value}
        //     name = data.field.name;
        //     account = data.field.account;
        //     sex = data.field.sex;
        //     // console.log(name + mobile);
        //     //调用
        //     a(name, account, sex);
        //     return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        // });
        // a();

        //第一个实例
        // function a(name, account, sex) {
        table.render({
            elem: '#demo'
            // , height: 312
            , id: 'testReload' // 设置数据表格刷新的ID
            , url: '/user/userSelect' //数据接口
            , method: 'post'
            , toolbar: '#btn2'
            , contentType: 'application/json'
            , where: {name: name, account: account, sex: sex}
            , page: true
            //开启分页
            , limit: 5, //每页显示多少条数
            limits: [5, 10, 15], // 动态修改页容量
            request: {
                // 自定义获取分页数据的请求参数默认为page  limit
                pageName: 'page',
                limitName: 'number'
            }
            , parseData: function (b) {
                console.log(b);
                // alert("sfwestfgwe")
                return {
                    "code": b.code == 200 ? 0 : res.code,
                    "msg": b.message,
                    "data": b.date.returnDate,
                    "count": b.date.paginationData.sum
                }
            }
            , cols: [
                [  //表头
                    {checkbox: true, fixed: true}
                    , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'name', title: '用户名', width: 120, edit: 'text'}
                    , {field: 'depId', title: '部门', width: 120, edit: 'text'}
                    , {
                    field: 'email', title: '邮箱', width: 150, edit: 'text', templet: function (res) {
                        return '<em>' + res.email + '</em>'
                    }
                }
                    , {field: 'account', title: '账号', width: 80, sort: true}
                    , {
                    field: 'sex', title: '性别', width: 80, templet: function (res) {
                        return res.sex == 0 ? '男' : '女'
                    }
                }
                    , {field: 'mobile', title: '电话', width: 100, edit: 'text'}
                    , {field: 'status', title: '账号状态', width: 92, templet: '#switchTpl', align: 'center'}
                    , {field: 'right', title: '操作', toolbar: "#btn1", sort: true, fixed: 'right'}

                ]
            ]
        });



        // 头部搜索重载
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('testReload', {	//testReload为table中的id
                    method:'post',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name:$('#name').val(),
                        account:$('#account').val(),
                        sex:$('#sex').val()
                    }
                });
            }
        };



        //监听toolbar
        table.on('toolbar(useruv)', function (obj) {
            var data = obj.data;
            if (obj.event === 'batchDel') {
                //layer.msg("批量删除操作");
                var checkStatus = table.checkStatus('testReload');
                if (checkStatus.data.length == 0) {
                    parent.layer.msg('请先选择要删除的数据行！', {icon: 2});
                    return;
                }
                var id = "";
                for (var i = 0; i < checkStatus.data.length; i++) {
                    id += checkStatus.data[i].id + ",";
                }
                layer.confirm("确定要删除所选数据？删除后无法恢复！", {icon: 3, title: "提示"}, function () {
                    $.ajax({
                        type: "POST",
                        url: '/userDelete',
                        data: {"ids": id},
                        success: function (data) {
                            if (data === "true") {
                                location.reload();
                                layer.msg('删除成功', {
                                    icon: 6,
                                    time: 1500
                                });
                            } else {
                                layer.msg("删除失败", {icon: 5});
                                layer.close(index);
                            }
                        }

                    })
                })
            } else if (obj.event === 'edit') {
                let index = layer.open({
                    type: 2,
                    anim: 0,
                    title: '编辑信息',
                    scrollbar: false,
                    content: '/updateUser',
                    btn: ["提交", "取消"],
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
                        body.find('#room_num').val(data.roomNum);
                        body.find('#price').val(data.price);
                        body.find('#area').val(data.area);
                        body.find('#intro').val(data.intro);
                        body.find('#room_info_id').val(data.roomInfoId);
                        var c = data.roomCatalogId;//编辑行的roomCatalogId
                        $.post("findAllCatalog", function (data) {
                            $.each(data, function (index, item) {
                                if (item.roomCatalogId == c) {
                                    //console.log(item.roomCatalogId);
                                    layero.find('iframe').contents().find('[name=room_catalog_id]').append($("<option>").attr("value", item.roomCatalogId).attr("selected", "selected").text(item.catalog));
                                } else {
                                    layero.find('iframe').contents().find('[name=room_catalog_id]').append($("<option>").attr("value", item.roomCatalogId).text(item.catalog));
                                }
                            });
                            iframeWin.layui.form.render("select");
                        }, 'json');


                    },
                    yes: function (index, layero) {
                        //通过以下的方法获取回调的数值
                        var room_num = $(layero).find('iframe')[0].contentWindow.room_num.value;
                        var area = $(layero).find('iframe')[0].contentWindow.area.value;
                        var price = $(layero).find('iframe')[0].contentWindow.price.value;
                        var intro = $(layero).find('iframe')[0].contentWindow.intro.value;
                        var photo_path = $(layero).find('iframe')[0].contentWindow.photo_path.value;
                        var room_catalog_id = $(layero).find('iframe')[0].contentWindow.room_catalog_id.value;
                        var room_info_id = $(layero).find('iframe')[0].contentWindow.room_info_id.value;
                        //alert(room_info_id);
                        //同步数据表格中的数据
                        if (room_num == "") {
                            layer.msg("请输入客房号", {icon: 5});
                        } else if (area == "") {
                            layer.msg("请输入面积", {icon: 5});
                        } else if (price == "") {
                            layer.msg("请输入价格", {icon: 5});
                        } else if (intro == "") {
                            layer.msg("请输入简介", {icon: 5});
                        } else if (room_catalog_id == "") {
                            layer.msg("请选择房间类型", {icon: 5});
                        } else {
                            $.ajax({
                                url: '/update_room',
                                type: "post",
                                dataType: 'json',
                                data: {
                                    room_num: room_num,
                                    area: area,
                                    price: price,
                                    intro: intro,
                                    photo_path: photo_path,
                                    room_catalog_id: room_catalog_id,
                                    room_info_id: room_info_id
                                },
                                success: function (res) {
                                    if (res.result === '修改成功') {
                                        $(".layui-laypage-btn")[0].click();
                                        layer.msg(res.result);
                                    } else {
                                        layer.msg(res.result);
                                    }
                                },
                                error: function (res) {
                                    layer.msg('操作失败，稍后再试！', {icon: 5});
                                }
                            });
                        }
                    }
                });
                layer.full(index);
            }
        });
    });

</script>

</body>
</html>