<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            <input type="text" name="name"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="status" lay-verify="required">
                <option value="0">正常</option>
                <option value="1">禁用</option>
            </select>
        </div>
        <label class="layui-form-label">删除码</label>
        <div class="layui-input-inline">
            <select name="isdeleted" lay-verify="required">
                <option value="0">正常</option>
                <option value="1">禁用</option>
            </select>
        </div>
        <button class="layui-btn layui-col-md-offset1" lay-submit id="search" lay-filter="form1Demo">查询</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-col-md-offset1">重置</button>
    </div>
</form>
<table class="layui-hide" id="demo" lay-filter="test"></table>
<div id="btn2" style="display:none;">
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchDel">&#xe640;&nbsp批量删除</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm">
        <i class="layui-icon" style="font-size: smaller" lay-event="add">&#xe624;&nbsp新增</i>
    </button>
</div>
<div id="btn1" style="display:none;">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="edit"> &#xe642;编辑</i>
    </button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="del">&#xe640;删除</i>
    </button>
</div>
<script type="text/html" id="switchTpl">
    <input type="checkbox" value="{{d.id}}" name="status" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 0 ? 'checked' : '' }}>
    <input type="hidden" id="id" value="${d.id }" />
</script>
<script type="text/html" id="switchTpl1">
    <input type="checkbox" value="{{d.id}}" name="isDelete" lay-skin="switch" lay-text="正常|禁用" lay-filter="isDelete" {{ d.status == 0 ? 'checked' : '' }}>
    <input type="hidden" id="id1" value="${d.id }" />
</script>
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script>
    layui.use(['table','jquery','layer','form'], function(){
        var table = layui.table;
        var $=layui.jquery;
        var form=layui.form;
        var layer=layui.layer;
        var name=null;
        var status=null;
        var isdeleted=null;
        form.on('submit(form1Demo)', function (data) {
            //alert(data.field.name);
            name = data.field.name;
            status = data.field.status;
            isdeleted = data.field.isdeleted;
            console.log("+++fghdh"+name +status+isdeleted);
            //调用
            search(name,status,isdeleted);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        search();
        //第一个实例
        function search(name,status,isdeleted) {
            table.render({
                elem: '#demo'
                // , height: 312
                , id: "tId" // 设置数据表格刷新的ID
                , url: '/user/roleSelect' //数据接口
                , method: 'post'
                ,toolbar: '#btn2'
                ,tool: '#btn1'
                , contentType:'application/json'
                ,where: {name: name, status: status,isdeleted:isdeleted}
                , page: true
                //开启分页
                , limit: 5, //每页显示多少条数
                limits: [5, 10, 15], // 动态修改页容量
                request: {
                    // 自定义获取分页数据的请求参数默认为page  limit
                    pageName: 'page',
                    limitName: 'number'
                }
                , parseData: function (b) {
                    console.log(b);
                    // alert("sfwestfgwe")
                    return {
                        "code": b.code == 200 ? 0 : res.code,
                        "msg": b.message,
                        "data": b.date.returnDate,
                        "count": b.date.paginationData.sum
                    }
                }
                , cols: [
                    [  //表头
                        {checkbox: true, fixed: true}
                        ,{field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                        , {field: 'name', title: '角色', width: 120, edit: 'text'}
                        , {field: 'remark', title: '描述', width: 120, edit: 'text'}
                        , {field: 'status', title: '状态', width: 120, templet: '#switchTpl', align: 'center'}
                        , {field: 'isDelete', title: '删除码', width: 120, templet: '#switchTpl1', align: 'center'
                    }
                        ,{field:'right', title: '操作',toolbar:"#btn1",sort: true, fixed: 'right'}

                    ]
                ]
            });
        }

        //头部搜索重载
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('demo', {	//testReload为table中的id
                    method:'post',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name:$('#name').val(),
                        status:$('#status').val(),
                        isdeleted:$('#isdeleted').val()
                    }
                });
            }
        };

        $('#search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听toolbar
        table.on('toolbar(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'batchDel') {
                //layer.msg("批量删除操作");
                var checkStatus = table.checkStatus('tId');
                if (checkStatus.data.length == 0) {
                    layer.msg('请先选择要删除的数据行！', {icon: 2, time: 1100});
                    return;
                }
                var id = "";
                for (var i = 0; i < checkStatus.data.length; i++) {
                    id += checkStatus.data[i].id + ",";
                }
                console.log(id)
                layer.confirm("确定要删除所选数据？删除后无法恢复！", {icon: 3, title: "提示"}, function () {
                    console.log(id)
                    $.ajax({
                        type: "post",
                        url: '/user/roleDelete',
                        data: {"ids": id},
                        success: function (data) {
                            if (data.code == 200) {
                                location.reload();
                                layer.msg('删除成功', {
                                    icon: 6,
                                    time: 1500
                                });
                            } else {
                                layer.msg("删除失败", {icon: 5});
                                layer.close(index);
                            }
                        },
                        error: function (data) {
                            console.log(data);
                            layer.msg('删除失败！');
                        },

                    });
                });
            }else if (obj.event === 'add') {
                //layer.msg("新增");
                layer.open({
                    type: 2,
                    anim: 0,
                    title: '新增用户',
                    scrollbar: false,
                    area: ['40%', '80%'],
                    content: '/addRole',
                    success: function (data) {

                    }

                });
            }

        });

        });
        //修改状态switch
        form.on('switch(status)', function (data) {
            // 得到开关的value值，需要修改的ID值。
            var id = data.value;
            var status = this.checked ? '1' : '0';
            // alert(id+"++"+status);
            $.ajax({
                type: 'POST',
                url: '/user/roleStatus',
                data: {"id": id, "status": status},
                error: function (data) {
                    console.log(data);
                    layer.msg('数据异常，操作失败！');
                },
                success: function (data) {
                    if (data = 1) {
                        setTimeout(function () {
                            layer.msg('操作成功！');
                        }, 100);
                        $(".layui-icon-refresh").click();
                    } else {
                        console.log(data);
                        layer.msg('数据异常，操作失败！');
                    }
                },
                dataType: 'JSON'
            });
        });
        form.on('switch(isDelete)', function (data) {
            // 得到开关的value值，需要修改的ID值。
            var id = data.value;
            var isDelete = this.checked ? '1' : '0';
            // alert(id+"++"+status);
            $.ajax({
                type: 'POST',
                url: '/user/roleIsdeleted',
                data: {"id": id, "isdeleted": isDelete},
                error: function (data) {
                    console.log(data);
                    layer.msg('数据异常，操作失败！');
                },
                success: function (data) {
                    if (data = 1) {
                        setTimeout(function () {
                            layer.msg('操作成功！');
                        }, 100);
                        $(".layui-icon-refresh").click();
                    } else {
                        console.log(data);
                        layer.msg('数据异常，操作失败！');
                    }
                },
                dataType: 'JSON'
            });
        });
        //监听工具条
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的要删除所选数据？删除后无法恢复！', {icon: 3, title: "提示"}, function (index) {
                    $.ajax({
                        url: "/user/roleDelete",
                        type: "POST",
                        data: {"ids": data.id},
                        dataType: "json",
                        success: function (data) {
                            if (data.code == 200) {
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            } else {
                                layer.msg("删除失败", {icon: 5});
                            }
                        },
                        error: function (data) {
                            console.log(data);
                            layer.msg('删除失败！');
                        },
                    });
                });
            } else if (obj.event === 'edit') {
                layui.use(["jquery","layer"],function (){
                    // console.log(data)
                    var $ = layui.$;
                    var layer = layui.layer;
                    $.ajax({
                        url:"/user/roleUpdate",
                        type:"post",
                        data:JSON.stringify(data),
                        contentType:"application/json;charset=UTF-8",
                        dataType:"json",
                        success:function (date) {
                            if (date>0){
                                layer.msg("修改失败", {icon: 5});
                            } else {
                                layer.msg("修改成功", {icon: 6});
                            }
                        }
                    })
                })
            }

    });

    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(form1Demo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

</script>

</body>
</html>