<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<style>
    .layui-form-item{
        margin-bottom: 10px;
    }
</style>
<body>
<form class="layui-form" style="width:100%;" >
    <input type="hidden" id="id">
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">用户角色:</label>
        <div class="layui-input-block" name="demo">

        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 44%;margin-top: 4%">
        <div class="layui-inline">
            <div class="layui-button-inline">
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="updateUser">立即提交</button>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-button-inline">
                <button class="layui-btn layui-btn-primary" data-type="close">取消</button>
            </div>
        </div>
    </div>
</form>
<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script>
    layui.use(['form','layer','jquery'],function (){
        var form =layui.form;
        var $ = layui.jquery;
        var layer=layui.layer;
        var data = parent.userData;
        $ ('#id').val(data.id);
        form.render("checkbox");

        //关闭此弹出层iframe
        $('.layui-btn.layui-btn-primary').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //点击事件
        var active = {
            //编辑
            close: function(){
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }
        }


        form.on('submit(updateUser)', function(data){
            var roleId = [];
            $("input:checkbox[name='role']:checked").each(function(i){
                roleId.push($(this).val());
            });
            //console.log(roleId);
            alert(roleId);
            alert($('#id').val());

            // alert($('#roleId').val()+"++++");
            $.ajax({
                url:'user/updateRoleUser',
                data: {
                    userId:$('#id').val(),
                    roleIds:roleId.join(",")
                },

                type:'get',//返回数据格式,
                dataType: "json",
                success:function (date) {
                    if (date>0){
                        layer.msg("修改失败", {icon: 5});
                    } else {
                        layer.msg("修改成功", {icon: 6});
                    }
                }
            });
            return false;
        });
    });

</script>
</body>
</html>