<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    css引入-->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!--    js引入-->
    <script src="layui/layui.js"></script>
</head>
<body>
<!--加载模块-->
<!--    <div style="height: 200px"></div>-->
    <form class="layui-form ">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="account" id="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select name="sex" id="sex" >
                    <option value=""></option>
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
            <button class="layui-btn layui-col-md-offset1" lay-submit lay-filter="formDemo">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-col-md-offset1">重置</button>
        </div>
    </form>
<table class="layui-hide" id="demo" lay-filter="test"></table>
<div id="btn1" style="display:none;">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="edit"> &#xe642;编辑</i>
    </button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="del">&#xe640;删除</i>
    </button>
</div>
<div id="btn2" style="display:none;">
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchDel">&#xe640;&nbsp批量删除</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchAdd">
            <i class="layui-icon" style="font-size: smaller" lay-event="add">&#xe624;新增</i>
        </i>
    </button>
</div>

<script type="text/html" id="switchTpl">
    <input type="checkbox" value="{{d.id}}" name="status" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 0 ? 'checked' : '' }}>
    <input type="hidden" id="id" value="${d.id }" />
</script>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    layui.use(['table', 'form','jquery'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        var name = null;
        var mobile = null;
        //获取查询数据
        form.on('submit(formDemo)', function (data) {

            //alert(data.field.name);
            name = data.field.name;
            account = data.field.account;

            console.log("+++fghdh" + name + account);
            //调用
            sxym(name, account);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //调用
        sxym();

        //请求封装
        function sxym(name, account) {
            /*   获取用户列表 */
            table.render({
                elem: "#demo",
                // 设置指定数据表格生成的容器ID
                id: "tId", // 设置数据表格刷新的ID
                url: "/user/userSelect", //获取数据的请求地址
                //请求方法
                method: 'post',
                //接口的其它参数
                where: {name: name, account: account},
                //请求头
                // headers: {token: 'sasasas'},
                //发送数据类型
                contentType: 'application/json',
                toolbar: '#btn2',
                page: true, // 是否开启分页
                limit: 5, //每页显示多少条数
                limits: [5, 10, 15], // 动态修改页容量
                request: {
                    // 自定义获取分页数据的请求参数默认为page  limit
                    pageName: 'page',
                    limitName: 'number'
                },

                parseData: function (d) {
                    console.log(d);
                    // 重新定义数据的返回格式成layui默认的格式
                    return {
                        "code": d.code == 200 ? 0 : res.code,
                        "msg": d.message,
                        "data": d.date.returnDate,
                        "count": d.date.paginationData.sum
                    }
                }
                ,
                cols: [
                    [  //表头
                        {checkbox: true, fixed: true}
                        , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                        , {field: 'name', title: '用户名', width: 120, edit: 'text'}
                        , {field: 'depId', title: '部门', width: 120, edit: 'text'}
                        , {
                        field: 'email', title: '邮箱', width: 150, edit: 'text', templet: function (res) {
                            return '<em>' + res.email + '</em>'
                        }
                    }
                        , {field: 'account', title: '账号', width: 80, sort: true}
                        , {
                        field: 'sex', title: '性别', width: 80, templet: function (res) {
                            return res.sex == 0 ? '男' : '女'
                        }
                    }
                        , {field: 'mobile', title: '电话', width: 100, edit: 'text'}
                        , {field: 'status', title: '账号状态', width: 92, templet: '#switchTpl', align: 'center'}
                        , {field: 'right', title: '操作', toolbar: "#btn1", sort: true, fixed: 'right'}

                    ]
                ]
            });
        };

        //修改状态switch
        form.on('switch(status)', function (data) {
            // 得到开关的value值，需要修改的ID值。
            var id = data.value;
            var status = this.checked ? '1' : '0';
            // alert(id+"++"+status);
            $.ajax({
                type: 'POST',
                url: '/user/userStatus',
                data: {"id": id, "status": status},
                error: function (data) {
                    console.log(data);
                    layer.msg('数据异常，操作失败！');
                },
                success: function (data) {
                    if (data = 1) {
                        setTimeout(function () {
                            layer.msg('操作成功！');
                        }, 100);
                        $(".layui-icon-refresh").click();
                    } else {
                        console.log(data);
                        layer.msg('数据异常，操作失败！');
                    }
                },
                dataType: 'JSON'
            });
        });


        //监听toolbar
        table.on('toolbar(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'batchDel') {
                //layer.msg("批量删除操作");
                var checkStatus = table.checkStatus('tId');
                if (checkStatus.data.length == 0) {
                    layer.msg('请先选择要删除的数据行！', {icon: 2, time: 1100});
                    return;
                }
                var id = "";
                for (var i = 0; i < checkStatus.data.length; i++) {
                    id += checkStatus.data[i].id + ",";
                }
                layer.confirm("确定要删除所选数据？删除后无法恢复！", {icon: 3, title: "提示"}, function () {
                    $.ajax({
                        type: "GET",
                        url: '/user/userDelete',
                        data: {"ids": id},
                        success: function (data) {
                            if (data.code == 200) {
                                location.reload();
                                layer.msg('删除成功', {
                                    icon: 6,
                                    time: 1500
                                });
                            } else {
                                layer.msg("删除失败", {icon: 5});
                                layer.close(index);
                            }
                        },
                        error: function (data) {
                            console.log(data);
                            layer.msg('删除失败！');
                        },

                    });
                });
            }else if (obj.event === 'add') {
                //layer.msg("新增");
                    layer.open({
                    type: 2,
                    anim: 0,
                    title: '新增用户',
                    scrollbar: false,
                    area: ['40%', '80%'],
                    content: '/register',
                    success: function (data) {

                    }

                    });
            }

        });

        //监听工具条
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的要删除所选数据？删除后无法恢复！', {icon: 3, title: "提示"}, function (index) {
                    $.ajax({
                        url: "/user/userDelete",
                        type: "GET",
                        data: {"ids": data.id},
                        dataType: "json",
                        success: function (data) {
                            if (data.code == 200) {
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            } else {
                                layer.msg("删除失败", {icon: 5});
                            }
                        },
                        error: function (data) {
                            console.log(data);
                            layer.msg('删除失败！');
                        },
                    });
                });
            } else if (obj.event === 'edit') {
                        layui.use(["jquery","layer"],function (){
                            // console.log(data)
                            var $ = layui.$;
                            var layer = layui.layer;
                            $.ajax({
                                url:"/user/userUpdate",
                                type:"post",
                                data:JSON.stringify(data),
                                contentType:"application/json;charset=UTF-8",
                                dataType:"json",
                                success:function (date) {
                                    if (date>0){
                                        layer.msg("修改失败", {icon: 5});
                                    } else {
                                        layer.msg("修改成功", {icon: 6});
                                        sxym();
                                    }
                                }
                            })
                        })
                // else if (obj.event === 'edit') {
            //     window.userData = data;
            //     let index = layer.open({
            //         type: 2,
            //         anim: 0,
            //         title: '编辑信息',
            //         scrollbar: false,
            //         area: ['100%', '100%'],
            //         content: '/user/userUpdate',
            //         success: function (layero, index) {
            //             var body = layer.getChildFrame('body', index);
            //             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
            //
            //             /* 动态赋值下拉框*/
            //             var depid = data.depid;
            //             var sex = data.sex;
            //             if (sex == '0') {
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", sex).attr("selected", "selected").text("男"));
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", 1).text("女"));
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", 2).text("保密"));
            //             } else if (sex == '1') {
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", sex).attr("selected", "selected").text("女"));
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", 0).text("男"));
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", 2).text("保密"));
            //             } else {
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", sex).attr("selected", "selected").text("保密"));
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", 0).text("男"));
            //                 layero.find('iframe').contents().find('[name=sex]').append($("<option>").attr("value", 1).text("女"));
            //             }
            //             //动态添加部门
            //             $.post("findAllDept", function (data) {
            //                 $.each(data, function (index, item) {
            //                     if (item.id == depid) {
            //                         //console.log(item.name);
            //                         layero.find('iframe').contents().find('[name=deptId]').append($("<option>").attr("value", item.id).attr("selected", "selected").text(item.name));
            //                     } else {
            //                         layero.find('iframe').contents().find('[name=deptId]').append($("<option>").attr("value", item.id).text(item.name));
            //                     }
            //                 });
            //                 iframeWin.layui.form.render("select");
            //             }, 'json');
            //
            //             //动态添加角色
            //             var id = data.id;
            //             $.post("findAllRole1?id=" + id, function (data) {
            //                 $.each(data, function (index, item) {
            //                     console.log(item.name);
            //                     if (item.hasRight)
            //                         layero.find('iframe').contents().find('[name=demo]').append($("<input type='checkbox' lay-skin='primary'>").attr("title", item.name).attr("name", "role").attr("value", item.id).attr("checked", "checked"));
            //                     else
            //                         layero.find('iframe').contents().find('[name=demo]').append($("<input type='checkbox' lay-skin='primary'>").attr("title", item.name).attr("name", "role").attr("value", item.id));
            //                 });
            //                 iframeWin.layui.form.render();
            //             }, 'json')
            //
            //         },
            //     });
            }
        });


    });


    /*注册*/
    function register() {
        layer.open({
            title: '增加用户',
            type: 2,//层类型：2（iframe层）
            shade:0.2,//遮罩
            maxmin:true,//最大最小化。
            shadeClose: true,//是否点击遮罩关闭
            area: ['35%', '80%'],//宽高
            content: '/register'
        });
    }
        // //监听行工具事件
        // table.on('tool(test)', function(obj) {
        //     var data = obj.data;
        //     // console.log(data)
        //     if (obj.event === 'del') {
        //         layer.confirm('真的删除行么', function (index) {
        //
        //             layui.use(["jquery","layer"],function (){
        //                 // console.log(data)
        //                 var $ = layui.$;
        //                 var layer = layui.layer;
        //                 $.ajax({
        //                     url:"/user/userDelete",
        //                     type:"post",
        //                     data:JSON.stringify(data),
        //                     contentType:"application/json;charset=UTF-8",
        //                     dataType:"json",
        //                     success:function (date) {
        //                         if (date>0){
        //                             alert("成功了")
        //                         }else {
        //                             alert("失败了")
        //                         }
        //                     }
        //                 })
        //             })
        //
        //             obj.del();
        //             layer.close(index);
        //         });
        //     } else if (obj.event === 'edit') {
        //         layui.use(["jquery","layer"],function (){
        //             // console.log(data)
        //             var $ = layui.$;
        //             var layer = layui.layer;
        //             $.ajax({
        //                 url:"/user/userUpdate",
        //                 type:"post",
        //                 data:JSON.stringify(data),
        //                 contentType:"application/json;charset=UTF-8",
        //                 dataType:"json",
        //                 success:function (date) {
        //                     if (date>0){
        //                         alert("修改失败")
        //                     }else {
        //                         alert("修改成功")
        //                         sxym();
        //                     }
        //                 }
        //             })
        //         })

                // layer.prompt({
                //     formType: 2
                //     , value: data.email
                // }, function (value, index) {
                //     obj.update({
                //         email: value
                //     });
                //     layer.close(index);
                // });
    //         } else if (obj.event === 'forbidden'||'startusing') {
    //             layui.use(["jquery","layer"],function (){
    //                 // console.log(data)
    //                 var $ = layui.$;
    //                 var layer = layui.layer;
    //                 $.ajax({
    //                     url:"/user/userStatus",
    //                     type:"post",
    //                     data:JSON.stringify(data),
    //                     contentType:"application/json;charset=UTF-8",
    //                     dataType:"json",
    //                     success:function (date) {
    //                         if (date>0){
    //                             alert("成功了")
    //                             location.reload();
    //                         }else {
    //                             alert("失败了")
    //                         }
    //                     }
    //                 })
    //             })
    //         }
    //     });
    //
    // });

</script>
</body>
</html>