<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    css引入-->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!--    js引入-->
    <script src="layui/layui.js"></script>
</head>
<body>
<!--加载模块-->
<!--    <div style="height: 200px"></div>-->
    <form class="layui-form ">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="account" id="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select name="sex" id="sex" >
                    <option value=""></option>
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
            <button class="layui-btn layui-col-md-offset1" lay-submit lay-filter="formDemo">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-col-md-offset1">重置</button>
        </div>
    </form>
<table class="layui-hide" id="demo" lay-filter="test"></table>
<div id="btn1" style="display:none;">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="edit"> &#xe642;编辑</i>
    </button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs">
        <i class="layui-icon" style="font-size: smaller" lay-event="del">&#xe640;删除</i>
    </button>
</div>
<div id="btn2" style="display:none;">
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchDel">&#xe640;&nbsp批量删除</i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-warm">
        <i class="layui-icon" style="font-size: smaller" lay-event="batchAdd">&#xe624;&nbsp新增</i>
    </button>
</div>

<script type="text/html" id="switchTpl">
    <input type="checkbox" value="{{d.id}}" name="status" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 0 ? 'checked' : '' }}>
    <input type="hidden" id="id" value="${d.id }" />
</script>
<script type="text/javascript">
    layui.use(['table', 'form'], function () {
        var form = layui.form;
        var table = layui.table;
        // var layer = layui.layer;
        // var $ = layui.jquery;
        var name = null;
        var mobile = null;
        //获取查询数据
        form.on('submit(formDemo)', function (data) {

            //alert(data.field.name);
            name = data.field.name;
            account = data.field.account;

            console.log("+++fghdh"+name + account);
            //调用
            sxym(name,account);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //调用
        sxym();
        //请求封装
        function sxym(name, account) {
            /*   获取用户列表 */
            table.render({
                elem: "#demo",
                // 设置指定数据表格生成的容器ID
                id: "tId", // 设置数据表格刷新的ID
                url: "/user/userSelect", //获取数据的请求地址
                //请求方法
                method: 'post',
                //接口的其它参数
                where: {name: name, account: account},
                //请求头
                // headers: {token: 'sasasas'},
                //发送数据类型
                contentType: 'application/json',
                toolbar: '#btn2',
                page: true, // 是否开启分页
                limit: 5, //每页显示多少条数
                limits: [5, 10, 15], // 动态修改页容量
                request: {
                    // 自定义获取分页数据的请求参数默认为page  limit
                    pageName: 'page',
                    limitName: 'number'
                },

                parseData: function (d) {
                    console.log(d);
                    // 重新定义数据的返回格式成layui默认的格式
                    return {
                        "code": d.code == 200 ? 0 : res.code,
                        "msg": d.message,
                        "data": d.date.returnDate,
                        "count": d.date.paginationData.sum
                    }
                }
                ,
                cols: [
                    [  //表头
                        {checkbox: true, fixed: true}
                        , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                        , {field: 'name', title: '用户名', width: 120, edit: 'text'}
                        , {field: 'depId', title: '部门', width: 120, edit: 'text'}
                        , {
                        field: 'email', title: '邮箱', width: 150, edit: 'text', templet: function (res) {
                            return '<em>' + res.email + '</em>'
                        }
                    }
                        , {field: 'account', title: '账号', width: 80, sort: true}
                        , {
                        field: 'sex', title: '性别', width: 80, templet: function (res) {
                            return res.sex == 0 ? '男' : '女'
                        }
                    }
                        , {field: 'mobile', title: '电话', width: 100, edit: 'text'}
                        , {field: 'status', title: '账号状态', width: 92, templet: '#switchTpl', align: 'center'}
                        , {field: 'right', title: '操作', toolbar: "#btn1", sort: true, fixed: 'right'}

                    ]
                ]
            });
        };
    });

</script>
</body>
</html>