<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wjw.priviligemanagementsystem.mapper.RoleMapper" >

  <!--分页记录总数Map映射-->
  <resultMap id="userTotal1" type="java.lang.Integer"></resultMap>

  <resultMap id="SelectRoleVo" type="xyz.wjw.priviligemanagementsystem.vo.SelectRoleVo"></resultMap>

  <select id="roleSelect" parameterType="xyz.wjw.priviligemanagementsystem.dto.RoleSelectQuery" resultMap="SelectRoleVo,userTotal1">
    SELECT
      sys_role.id,
      sys_role.`name`,
      sys_role.remark,
      sys_role.`status`,
      sys_role.isDeleted
    FROM
      sys_role
    <where>
      <if test="name!=null and name!=''">
        sys_role.`name` LIKE "%"#{name}"%"
      </if>
      <if test="status!=null and status!=''">
        and sys_role.`status` LIKE "%"#{status}"%"
      </if>
      <if test="isDeleted!=null and isDeleted!=''">
        and sys_role.isDeleted = #{isDeleted}
      </if>
    </where>
    ORDER BY
    id
    LIMIT ${pageIndex},${pageSize};
    SELECT FOUND_ROWS() as number  ;
  </select>

  <delete id="roleDelete">
    delete from sys_role where id in(
    <foreach collection="ids" item="item" separator=",">
      #{item}
    </foreach>
    )
  </delete>
  <update id="roleStatus">
    update sys_role set status=case status
                                 when 0 then 1
                                 else 0 end where id=#{id}
  </update>
  <update id="roleIsdeleted">
    update sys_role set isDeleted=case isDeleted
                                 when 0 then 1
                                 else 0 end where id=#{id}
  </update>

  <delete id="delRoleMenuFirst" parameterType="java.lang.Long" >
    delete from role_menu
    where roleId = #{roleId}
  </delete>

  <!--添加权限-->
  <insert id="updateTree" parameterType="xyz.wjw.priviligemanagementsystem.entity.roleMenu">
    insert into role_menu (menuId, roleId)
    values
      (#{i}, #{roleId})
  </insert>

  <!--查询哪个角色拥有的权限-->
  <select id="selectRoleMenu" resultType="Integer">
    select role_menu.menuId
    from role_menu
           left join sys_role on role_menu.roleId=sys_role.id
    where sys_role.id=#{id}
  </select>
</mapper>